body {
    margin: 0;
    font-family: "Fjalla One", sans-serif;
    padding:0;
    background-color:#1B1C1D;
}

.header{
    color: whitesmoke;
    text-align: left;
    box-shadow: 0px 0px 10px black;
    text-shadow: 0px 5px 5px black;
    position: relative;
}
.header img{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px; 
    height: auto;
    padding:20px;
}
.header h1 {
    margin: 0;
    font-size: 30px;
    padding: 20px;
    background-color:#C8102E;
}

.navigation ul {
    margin: 0;
    text-align: left;
    padding: 0;
    background-color: #960C22;
}

.navigation ul li {
    display: inline;
    margin: 0;
}

.navigation ul li a {
    font-size: 20px;
    transition: color .5s;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 0;
}

.navigation ul li a:hover {
    color: rgba(255, 255, 255, 0.664);
}

.navigation ul li.active a {
    color: #f2c641;
}
h2{
    font-size: 50px;
    color: #e81313;
    text-align:center;
    text-shadow: 0px 5px 5px black;
}

